.boostify-child-theme-generator {
	margin: 20px 15px;
	background-color: #fff;
	padding: 40px 15px;
	font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;

	.header {
		text-align: center;
		margin-bottom: 40px;

		.heading {
			color: #556068;
			font-size: 23px;
		}
	}

	.boostify-form-generator {
		max-width: 600px;
		margin: 0 auto;
	}

	.form-group {
		margin-bottom: 20px;
		.form-label {
			display: block;
			margin-bottom: 8px;
			font-size: 14px;
			color: #6d7882;
		}

		.form-input {
			min-height: 50px;
			width: 100%;
			border-radius: 3px;
			border-color: #d5dadf;
		}
	}

	.btn-generator {
		background: #1346af;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		height: 45px;
		padding: 5px 20px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}
}